body {
  color: #eaeaea;
  background: linear-gradient(0.25turn, #34626c, #c6b497);
  font-weight: 400;
  font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

.img-ui {
  width: 20rem;
  height: 20rem;
}
.img-404 {
  width: 20rem;
  height: 20rem;
  border-radius: 50rem;
}
.img-human {
  width: 25rem;
  height: 25rem;
}
